In [102]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from pandas.api.types import CategoricalDtype
from sklearn.model_selection import train_test_split

from patsy import dmatrices
from statsmodels.miscmodels.ordinal_model import OrderedModel

In [2]:
df = pd.read_csv("final_olympic_data.csv")

In [3]:
summer_df = df[df["season"] == "Summer"]
summer_df

,id,sex,age,height,weight,noc,year,season,city,sport,event_category,event,medal,region
0,2,M,23.0,170.0,60.0,CHN,2012,Summer,London,Judo,judo_half_lightweight,Extra-Lightweight,NaN,China
25,13,F,30.0,159.0,55.5,FIN,1996,Summer,Atlanta,Sailing,sailing,Windsurfer,NaN,Finland
26,13,F,34.0,159.0,55.5,FIN,2000,Summer,Sydney,Sailing,sailing,Windsurfer,NaN,Finland
29,18,M,31.0,189.0,130.0,FIN,2000,Summer,Sydney,Athletics,heavyset_field_events,Shot Put,NaN,Finland
50,22,F,22.0,170.0,125.0,ROU,2016,Summer,Rio de Janeiro,Weightlifting,weightlifting_super_heavyweight,Super-Heavyweight,NaN,Romania
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164980,135562,M,24.0,173.0,68.0,CZE,1972,Summer,Munich,Cycling,track_cycling,"Team Pursuit, 4,000 metres",NaN,Czech Republic
164981,135563,F,19.0,171.0,64.0,RUS,2000,Summer,Sydney,Athletics,track,4 x 400 metres Relay,Bronze,Russia
164982,135563,F,23.0,171.0,64.0,RUS,2004,Summer,Athina,Athletics,track,4 x 400 metres Relay,Silver,Russia
164984,135567,M,24.0,183.0,72.0,RUS,2000,Summer,Sydney,Rowing,rowing,Lightweight Coxless Fours,NaN,Russia
164985,135567,M,28.0,183.0,72.0,RUS,2004,Summer,Athina,Rowing,rowing,Lightweight Coxless Fours,NaN,Russia

In [4]:
summer_df.medal = summer_df.medal.fillna('None')

/Users/alissa/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [5]:
summer_df

,id,sex,age,height,weight,noc,year,season,city,sport,event_category,event,medal,region
0,2,M,23.0,170.0,60.0,CHN,2012,Summer,London,Judo,judo_half_lightweight,Extra-Lightweight,None,China
25,13,F,30.0,159.0,55.5,FIN,1996,Summer,Atlanta,Sailing,sailing,Windsurfer,None,Finland
26,13,F,34.0,159.0,55.5,FIN,2000,Summer,Sydney,Sailing,sailing,Windsurfer,None,Finland
29,18,M,31.0,189.0,130.0,FIN,2000,Summer,Sydney,Athletics,heavyset_field_events,Shot Put,None,Finland
50,22,F,22.0,170.0,125.0,ROU,2016,Summer,Rio de Janeiro,Weightlifting,weightlifting_super_heavyweight,Super-Heavyweight,None,Romania
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164980,135562,M,24.0,173.0,68.0,CZE,1972,Summer,Munich,Cycling,track_cycling,"Team Pursuit, 4,000 metres",None,Czech Republic
164981,135563,F,19.0,171.0,64.0,RUS,2000,Summer,Sydney,Athletics,track,4 x 400 metres Relay,Bronze,Russia
164982,135563,F,23.0,171.0,64.0,RUS,2004,Summer,Athina,Athletics,track,4 x 400 metres Relay,Silver,Russia
164984,135567,M,24.0,183.0,72.0,RUS,2000,Summer,Sydney,Rowing,rowing,Lightweight Coxless Fours,None,Russia
164985,135567,M,28.0,183.0,72.0,RUS,2004,Summer,Athina,Rowing,rowing,Lightweight Coxless Fours,None,Russia

In [6]:
cat_type = CategoricalDtype(categories=["Gold", "Silver", "Bronze", "None"], ordered=True)

In [7]:
summer_df["medals"] = summer_df['medal'].astype(cat_type)

/Users/alissa/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
summer_df = summer_df.dropna()

In [34]:
dmatri = dmatrices("medals ~ age + height + weight + C(event_category) + C(sex) + C(region)", summer_df, return_type="dataframe")

In [19]:
summer_df.medals.dtype

CategoricalDtype(categories=['Gold', 'Silver', 'Bronze', 'None'], ordered=True)

In [61]:
mod_prob = OrderedModel(summer_df['medals'],
                        matri,
                        distr='probit')

res_prob = mod_prob.fit(method='bfgs')
res_prob.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.456599
         Iterations: 500
         Function evaluations: 505
         Gradient evaluations: 505

/Users/alissa/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/statsmodels/base/model.py:606: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  ConvergenceWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OrderedModel Results
==============================================================================
Dep. Variable:                 medals   Log-Likelihood:                -53730.
Model:                   OrderedModel   AIC:                         1.080e+05
Method:            Maximum Likelihood   BIC:                         1.104e+05
Date:                Wed, 26 Jan 2022
Time:                        11:58:38
No. Observations:              117675
Df Residuals:                  117425
Df Model:                         250
=========================================================================================================================
                                                            coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------------------
C(event_category)[T.boxing_flyweight]                    -0.6714      0.074     -9.069      0.000      -0.816      -0.526
C(event_category)[T.boxing_heavyweight]                  -0.4073      0.084     -4.835      0.000      -0.572      -0.242
C(event_category)[T.boxing_lightweight]                  -0.5122      0.064     -8.019      0.000      -0.637      -0.387
C(event_category)[T.boxing_middleweight]                 -0.3897      0.073     -5.359      0.000      -0.532      -0.247
C(event_category)[T.boxing_welterweight]                 -0.4034      0.065     -6.201      0.000      -0.531      -0.276
C(event_category)[T.diving]                              -0.1707      0.054     -3.143      0.002      -0.277      -0.064
C(event_category)[T.equestrianism]                       -0.1615      0.048     -3.359      0.001      -0.256      -0.067
C(event_category)[T.fencing]                             -0.1632      0.045     -3.637      0.000      -0.251      -0.075
C(event_category)[T.field_events]                         0.2228      0.050      4.461      0.000       0.125       0.321
C(event_category)[T.gymnastics]                           0.3026      0.045      6.770      0.000       0.215       0.390
C(event_category)[T.heavyset_field_events]                0.4079      0.054      7.524      0.000       0.302       0.514
C(event_category)[T.judo_half_heavyweight]               -0.1712      0.078     -2.192      0.028      -0.324      -0.018
C(event_category)[T.judo_half_lightweight]               -0.4423      0.068     -6.518      0.000      -0.575      -0.309
C(event_category)[T.judo_heavyweight]                     0.0097      0.089      0.110      0.913      -0.165       0.184
C(event_category)[T.judo_lightweight]                    -0.2990      0.065     -4.629      0.000      -0.426      -0.172
C(event_category)[T.judo_middleweight]                   -0.2232      0.080     -2.776      0.006      -0.381      -0.066
C(event_category)[T.road_cycling]                         0.2602      0.054      4.829      0.000       0.155       0.366
C(event_category)[T.rowing]                              -0.3754      0.044     -8.623      0.000      -0.461      -0.290
C(event_category)[T.sailing]                             -0.2556      0.054     -4.701      0.000      -0.362      -0.149
C(event_category)[T.shooting]                             0.2079      0.047      4.444      0.000       0.116       0.300
C(event_category)[T.slalom]                              -0.1988      0.068     -2.920      0.004      -0.332      -0.065
C(event_category)[T.straight_race]                       -0.2639      0.046     -5.745      0.000      -0.354      -0.174
C(event_category)[T.swimming]                            -0.0266      0.043     -0.624      0.532      -0.110       0.057
C(event_category)[T.table_tennis]                         0.0785      0.059      1.341      0.180      -0.036       0.193
C(event_category)[T.tennis]                               0.1568      0.058      2.713      0.007       0.044       0.270
C(event_category)[T.track]                                0.0651      0.043      1.512      0.131      -0.019       0.150
C(event_category)[T.track_cycling]                       -0.3190      0.051     -6.214      0.000      -0.420      -0.218
C(event_category)[T.weightlifting_featherweight]         -0.7154      0.070    -10.259      0.000      -0.852      -0.579
C(event_category)[T.weightlifting_heavy_middleweight]    -0.2601      0.075     -3.463      0.001      -0.407      -0.113
C(event_category)[T.weightlifting_heavyweight]           -0.0691      0.089     -0.780      0.436      -0.243       0.105
C(event_category)[T.weightlifting_light_middleweight]    -0.4489      0.072     -6.212      0.000      -0.591      -0.307
C(event_category)[T.weightlifting_super_heavyweight]      0.0745      0.112      0.668      0.504      -0.144       0.293
C(event_category)[T.wrestling_featherweight]             -0.4721      0.066     -7.174      0.000      -0.601      -0.343
C(event_category)[T.wrestling_flyweight]                 -0.5988      0.075     -7.989      0.000      -0.746      -0.452
C(event_category)[T.wrestling_heavyweight]               -0.2096      0.077     -2.728      0.006      -0.360      -0.059
C(event_category)[T.wrestling_middleweight]              -0.2760      0.061     -4.551      0.000      -0.395      -0.157
C(event_category)[T.wrestling_super_heavyweight]         -0.0598      0.090     -0.668      0.504      -0.235       0.116
C(event_category)[T.wrestling_welterweight]              -0.3948      0.061     -6.485      0.000      -0.514      -0.275
C(sex)[T.M]                                               0.2195      0.015     14.493      0.000       0.190       0.249
C(region)[T.Albania]                                      1.5921      5.905      0.270      0.787      -9.981      13.165
C(region)[T.Algeria]                                     -0.7593      0.891     -0.852      0.394      -2.506       0.987
C(region)[T.American Samoa]                               0.9621      3.443      0.279      0.780      -5.785       7.710
C(region)[T.Andorra]                                      1.2669      4.739      0.267      0.789      -8.022      10.556
C(region)[T.Angola]                                       1.7360      8.010      0.217      0.828     -13.963      17.435
C(region)[T.Antigua]                                      1.7162      8.420      0.204      0.838     -14.786      18.218
C(region)[T.Argentina]                                   -0.4999      0.887     -0.564      0.573      -2.238       1.239
C(region)[T.Armenia]                                     -1.0362      0.894     -1.159      0.247      -2.789       0.717
C(region)[T.Aruba]                                        1.3058      4.559      0.286      0.775      -7.629      10.240
C(region)[T.Australia]                                   -1.4958      0.884     -1.692      0.091      -3.228       0.236
C(region)[T.Austria]                                     -0.6491      0.887     -0.732      0.464      -2.387       1.088
C(region)[T.Azerbaijan]                                  -1.3436      0.889     -1.512      0.131      -3.086       0.399
C(region)[T.Bahamas]                                     -1.4832      0.888     -1.670      0.095      -3.224       0.258
C(region)[T.Bahrain]                                     -0.8790      0.919     -0.956      0.339      -2.681       0.923
C(region)[T.Bangladesh]                                   0.9642      4.186      0.230      0.818      -7.240       9.169
C(region)[T.Barbados]                                    -0.0457      0.956     -0.048      0.962      -1.920       1.828
C(region)[T.Belarus]                                     -1.1604      0.885     -1.311      0.190      -2.896       0.575
C(region)[T.Belgium]                                     -0.8137      0.886     -0.918      0.358      -2.550       0.923
C(region)[T.Belize]                                       1.3420      5.439      0.247      0.805      -9.318      12.002
C(region)[T.Benin]                                        1.5077      5.890      0.256      0.798     -10.037      13.053
C(region)[T.Bermuda]                                     -0.0826      1.010     -0.082      0.935      -2.062       1.897
C(region)[T.Bhutan]                                       0.8935      3.879      0.230      0.818      -6.708       8.495
C(region)[T.Boliva]                                       1.7249      7.894      0.219      0.827     -13.747      17.197
C(region)[T.Bosnia and Herzegovina]                       1.3941      5.309      0.263      0.793      -9.010      11.799
C(region)[T.Botswana]                                    -0.4580      0.956     -0.479      0.632      -2.331       1.415
C(region)[T.Brazil]                                      -0.8957      0.885     -1.012      0.311      -2.630       0.839
C(region)[T.Brunei]                                       0.2754      3.390      0.081      0.935      -6.368       6.919
C(region)[T.Bulgaria]                                    -1.3126      0.884     -1.484      0.138      -3.046       0.421
C(region)[T.Burkina Faso]                                 1.2235      4.446      0.275      0.783      -7.490       9.937
C(region)[T.Burundi]                                     -1.1954      0.940     -1.271      0.204      -3.038       0.648
C(region)[T.Cambodia]                                     1.3100      4.974      0.263      0.792      -8.439      11.059
C(region)[T.Cameroon]                                    -0.5051      0.906     -0.557      0.577      -2.281       1.271
C(region)[T.Canada]                                      -1.0987      0.884     -1.243      0.214      -2.831       0.634
C(region)[T.Cape Verde]                                   0.5823      3.014      0.193      0.847      -5.326       6.490
C(region)[T.Cayman Islands]                               1.4219      5.675      0.251      0.802      -9.701      12.545
C(region)[T.Central African Republic]                     1.0096      3.760      0.269      0.788      -6.360       8.379
C(region)[T.Chad]                                         0.8902      3.651      0.244      0.807      -6.266       8.046
C(region)[T.Chile]                                       -0.5815      0.898     -0.648      0.517      -2.342       1.179
C(region)[T.China]                                       -1.7015      0.884     -1.925      0.054      -3.434       0.031
C(region)[T.Colombia]                                    -0.6320      0.889     -0.711      0.477      -2.374       1.110
C(region)[T.Comoros]                                      0.5001      3.188      0.157      0.875      -5.748       6.748
C(region)[T.Cook Islands]                                 1.2441      4.397      0.283      0.777      -7.374       9.862
C(region)[T.Costa Rica]                                  -0.6159      0.910     -0.677      0.498      -2.399       1.167
C(region)[T.Croatia]                                     -1.1508      0.888     -1.296      0.195      -2.891       0.589
C(region)[T.Cuba]                                        -1.4270      0.884     -1.614      0.107      -3.160       0.306
C(region)[T.Cyprus]                                       2.0111     11.821      0.170      0.865     -21.159      25.181
C(region)[T.Czech Republic]                              -1.1403      0.884     -1.289      0.197      -2.874       0.593
C(region)[T.Democratic Republic of the Congo]             1.2644      4.443      0.285      0.776      -7.444       9.973
C(region)[T.Denmark]                                     -1.2372      0.885     -1.398      0.162      -2.972       0.497
C(region)[T.Djibouti]                                    -0.9209      0.987     -0.933      0.351      -2.856       1.015
C(region)[T.Dominica]                                     0.5812      3.210      0.181      0.856      -5.710       6.872
C(region)[T.Dominican Republic]                          -0.6072      0.904     -0.672      0.502      -2.379       1.165
C(region)[T.Ecuador]                                     -0.1797      0.920     -0.195      0.845      -1.983       1.624
C(region)[T.Egypt]                                       -0.2952      0.893     -0.331      0.741      -2.046       1.456
C(region)[T.El Salvador]                                  2.1038     12.246      0.172      0.864     -21.898      26.106
C(region)[T.Equatorial Guinea]                            0.7041      3.393      0.207      0.836      -5.947       7.355
C(region)[T.Eritrea]                                     -0.9539      0.974     -0.979      0.328      -2.863       0.956
C(region)[T.Estonia]                                     -0.8458      0.892     -0.949      0.343      -2.593       0.902
C(region)[T.Ethiopia]                                    -1.8049      0.887     -2.034      0.042      -3.544      -0.066
C(region)[T.Fiji]                                         2.2387     14.420      0.155      0.877     -26.025      30.502
C(region)[T.Finland]                                     -0.9812      0.885     -1.108      0.268      -2.716       0.754
C(region)[T.France]                                      -1.3736      0.884     -1.554      0.120      -3.106       0.359
C(region)[T.Gabon]                                        1.3976      4.943      0.283      0.777      -8.291      11.086
C(region)[T.Gambia]                                       0.9318      3.951      0.236      0.814      -6.811       8.675
C(region)[T.Georgia]                                     -1.2914      0.889     -1.452      0.147      -3.035       0.452
C(region)[T.Germany]                                     -1.8350      0.884     -2.077      0.038      -3.567      -0.103
C(region)[T.Ghana]                                       -0.1894      0.927     -0.204      0.838      -2.006       1.627
C(region)[T.Greece]                                      -0.9180      0.886     -1.036      0.300      -2.654       0.818
C(region)[T.Grenada]                                     -1.1547      0.940     -1.229      0.219      -2.997       0.687
C(region)[T.Guam]                                         1.8478      7.330      0.252      0.801     -12.519      16.215
C(region)[T.Guatemala]                                   -0.0730      0.937     -0.078      0.938      -1.909       1.763
C(region)[T.Guinea]                                       1.2853      4.641      0.277      0.782      -7.812      10.382
C(region)[T.Guinea-Bissau]                                0.9247      3.430      0.270      0.787      -5.798       7.647
C(region)[T.Guyana]                                      -0.1220      0.995     -0.123      0.902      -2.073       1.829
C(region)[T.Haiti]                                        1.5210      5.961      0.255      0.799     -10.163      13.205
C(region)[T.Honduras]                                     1.5982      6.729      0.238      0.812     -11.590      14.786
C(region)[T.Hungary]                                     -1.4398      0.884     -1.629      0.103      -3.172       0.293
C(region)[T.Iceland]                                     -0.2024      0.928     -0.218      0.827      -2.022       1.617
C(region)[T.India]                                       -0.5105      0.892     -0.572      0.567      -2.259       1.238
C(region)[T.Individual Olympic Athletes]                 -1.1408      0.912     -1.251      0.211      -2.928       0.646
C(region)[T.Indonesia]                                   -0.8503      0.895     -0.950      0.342      -2.604       0.904
C(region)[T.Iran]                                        -1.0877      0.887     -1.226      0.220      -2.826       0.651
C(region)[T.Iraq]                                         1.8166      7.703      0.236      0.814     -13.282      16.915
C(region)[T.Ireland]                                     -0.5304      0.889     -0.597      0.551      -2.272       1.211
C(region)[T.Israel]                                      -0.3737      0.898     -0.416      0.677      -2.134       1.387
C(region)[T.Italy]                                       -1.3982      0.884     -1.582      0.114      -3.131       0.334
C(region)[T.Ivory Coast]                                 -0.1847      0.958     -0.193      0.847      -2.062       1.693
C(region)[T.Jamaica]                                     -1.7582      0.885     -1.986      0.047      -3.493      -0.023
C(region)[T.Japan]                                       -1.4451      0.884     -1.635      0.102      -3.178       0.287
C(region)[T.Jordan]                                       1.3805      5.429      0.254      0.799      -9.260      12.021
C(region)[T.Kazakhstan]                                  -1.1606      0.886     -1.310      0.190      -2.897       0.576
C(region)[T.Kenya]                                       -1.8602      0.886     -2.100      0.036      -3.596      -0.124
C(region)[T.Kiribati]                                     0.5777      2.989      0.193      0.847      -5.280       6.436
C(region)[T.Kosovo]                                      -1.7464      1.027     -1.700      0.089      -3.760       0.267
C(region)[T.Kuwait]                                      -0.3242      0.927     -0.350      0.727      -2.141       1.493
C(region)[T.Kyrgyzstan]                                  -0.2556      0.917     -0.279      0.780      -2.053       1.542
C(region)[T.Laos]                                         1.2193      4.618      0.264      0.792      -7.832      10.271
C(region)[T.Latvia]                                      -0.8786      0.894     -0.983      0.325      -2.630       0.873
C(region)[T.Lebanon]                                     -0.2328      0.927     -0.251      0.802      -2.049       1.584
C(region)[T.Lesotho]                                      1.1595      4.412      0.263      0.793      -7.488       9.807
C(region)[T.Liberia]                                      1.0963      4.391      0.250      0.803      -7.510       9.703
C(region)[T.Libya]                                        0.9229      3.601      0.256      0.798      -6.134       7.980
C(region)[T.Liechtenstein]                                1.5147      6.085      0.249      0.803     -10.413      13.442
C(region)[T.Lithuania]                                   -0.7764      0.891     -0.872      0.383      -2.522       0.970
C(region)[T.Luxembourg]                                   1.8672      9.929      0.188      0.851     -17.593      21.327
C(region)[T.Macedonia]                                   -0.2532      1.004     -0.252      0.801      -2.221       1.714
C(region)[T.Madagascar]                                   1.8930      9.358      0.202      0.840     -16.448      20.234
C(region)[T.Malawi]                                       1.5221      6.296      0.242      0.809     -10.819      13.863
C(region)[T.Malaysia]                                    -0.2803      0.913     -0.307      0.759      -2.070       1.510
C(region)[T.Maldives]                                     0.8696      3.926      0.221      0.825      -6.825       8.565
C(region)[T.Mali]                                         1.1992      4.374      0.274      0.784      -7.373       9.771
C(region)[T.Malta]                                        1.5298      6.191      0.247      0.805     -10.604      13.664
C(region)[T.Marshall Islands]                             0.5773      3.039      0.190      0.849      -5.379       6.534
C(region)[T.Mauritania]                                   0.9319      3.606      0.258      0.796      -6.136       8.000
C(region)[T.Mauritius]                                   -0.0518      0.995     -0.052      0.958      -2.001       1.898
C(region)[T.Mexico]                                      -0.6993      0.886     -0.790      0.430      -2.435       1.037

In [57]:
dmatri[1]['Intercept'].unique()

array([1.])

In [22]:
summer_df.age

0         23.0
25        30.0
26        34.0
29        31.0
50        22.0
          ...
164980    24.0
164981    19.0
164982    23.0
164984    24.0
164985    28.0
Name: age, Length: 117675, dtype: float64

In [21]:
summer_df.isnull().values.any()

False

In [42]:
dmatri[1]

,Intercept,C(event_category)[T.boxing_flyweight],C(event_category)[T.boxing_heavyweight],C(event_category)[T.boxing_lightweight],C(event_category)[T.boxing_middleweight],C(event_category)[T.boxing_welterweight],C(event_category)[T.diving],C(event_category)[T.equestrianism],C(event_category)[T.fencing],C(event_category)[T.field_events],...,C(region)[T.Venezuela],C(region)[T.Vietnam],"C(region)[T.Virgin Islands, British]","C(region)[T.Virgin Islands, US]",C(region)[T.Yemen],C(region)[T.Zambia],C(region)[T.Zimbabwe],age,height,weight
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,170.0,60.0
25,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,159.0,55.5
26,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,159.0,55.5
29,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,189.0,130.0
50,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,170.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164980,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,173.0,68.0
164981,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,171.0,64.0
164982,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,171.0,64.0
164984,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,183.0,72.0
164985,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,183.0,72.0

In [56]:
sorted(summer_df.event_category.unique())

['archery',
 'boxing_flyweight',
 'boxing_heavyweight',
 'boxing_lightweight',
 'boxing_middleweight',
 'boxing_welterweight',
 'diving',
 'equestrianism',
 'fencing',
 'field_events',
 'gymnastics',
 'heavyset_field_events',
 'judo_half_heavyweight',
 'judo_half_lightweight',
 'judo_heavyweight',
 'judo_lightweight',
 'judo_middleweight',
 'road_cycling',
 'rowing',
 'sailing',
 'shooting',
 'slalom',
 'straight_race',
 'swimming',
 'table_tennis',
 'tennis',
 'track',
 'track_cycling',
 'weightlifting_featherweight',
 'weightlifting_heavy_middleweight',
 'weightlifting_heavyweight',
 'weightlifting_light_middleweight',
 'weightlifting_super_heavyweight',
 'wrestling_featherweight',
 'wrestling_flyweight',
 'wrestling_heavyweight',
 'wrestling_middleweight',
 'wrestling_super_heavyweight',
 'wrestling_welterweight']

In [59]:
matri = dmatri[1].drop('Intercept', axis = 1)

In [60]:
matri

,C(event_category)[T.boxing_flyweight],C(event_category)[T.boxing_heavyweight],C(event_category)[T.boxing_lightweight],C(event_category)[T.boxing_middleweight],C(event_category)[T.boxing_welterweight],C(event_category)[T.diving],C(event_category)[T.equestrianism],C(event_category)[T.fencing],C(event_category)[T.field_events],C(event_category)[T.gymnastics],...,C(region)[T.Venezuela],C(region)[T.Vietnam],"C(region)[T.Virgin Islands, British]","C(region)[T.Virgin Islands, US]",C(region)[T.Yemen],C(region)[T.Zambia],C(region)[T.Zimbabwe],age,height,weight
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,170.0,60.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,159.0,55.5
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,159.0,55.5
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,189.0,130.0
50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,170.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,173.0,68.0
164981,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,171.0,64.0
164982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,171.0,64.0
164984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,183.0,72.0
164985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,183.0,72.0

predicted = res_log.model.predict(res_log.params, exog=data_student[['pared', 'public', 'gpa']])
predicted

In [62]:
professional = {'age':[33, 22, 35, 26],
        'weight':[40, 84, 67, 63],
        'height':[159, 184, 183,163],
        'event_category':['track','swimming', 'speed_skating', 'archery'],
        'sex':['F', 'M', 'M', 'F'],
        'region':['Kenya', 'Singapore', 'Sweden', 'USA']}
professional_df = pd.DataFrame(professional)

In [77]:
matri[0]

KeyError: 0

In [66]:
res_prob.save('summer_fit.pickle')

In [67]:
res_prob.transform(professional_df)

AttributeError: 'OrderedResults' object has no attribute 'transform'

In [68]:
import pickle

In [72]:
import statsmodels.api as sm

In [73]:
new_results = sm.load('summer_fit.pickle')

In [78]:
new_results.predict(matri.iloc[:2])

           0         1         2         3
0   0.098083  0.084413  0.082113  0.735391
25  0.021397  0.029203  0.035941  0.913459

In [84]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [85]:
column_tran = make_column_transformer(
                (OneHotEncoder(sparse=False,handle_unknown='ignore'),["sex","event_category", "region"]),
                remainder = "passthrough")

In [86]:
pipe = make_pipeline(column_tran, mod_prob)

In [98]:
pipe.fit(olympic_data, summer_df['medals'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [88]:
olympic_data = summer_df[["sex","event_category","region","age","height","weight"]]

In [89]:
olympic_data.head()

   sex                   event_category   region   age  height  weight
0    M            judo_half_lightweight    China  23.0   170.0    60.0
25   F                          sailing  Finland  30.0   159.0    55.5
26   F                          sailing  Finland  34.0   159.0    55.5
29   M            heavyset_field_events  Finland  31.0   189.0   130.0
50   F  weightlifting_super_heavyweight  Romania  22.0   170.0   125.0

In [91]:
olympic_medals = summer_df[['medals']]

In [92]:
olympic_medals

        medals
0         None
25        None
26        None
29        None
50        None
...        ...
164980    None
164981  Bronze
164982  Silver
164984    None
164985    None

[117675 rows x 1 columns]

In [97]:
matri

,C(event_category)[T.boxing_flyweight],C(event_category)[T.boxing_heavyweight],C(event_category)[T.boxing_lightweight],C(event_category)[T.boxing_middleweight],C(event_category)[T.boxing_welterweight],C(event_category)[T.diving],C(event_category)[T.equestrianism],C(event_category)[T.fencing],C(event_category)[T.field_events],C(event_category)[T.gymnastics],...,C(region)[T.Venezuela],C(region)[T.Vietnam],"C(region)[T.Virgin Islands, British]","C(region)[T.Virgin Islands, US]",C(region)[T.Yemen],C(region)[T.Zambia],C(region)[T.Zimbabwe],age,height,weight
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,170.0,60.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,159.0,55.5
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,159.0,55.5
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,189.0,130.0
50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,170.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,173.0,68.0
164981,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,171.0,64.0
164982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,171.0,64.0
164984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,183.0,72.0
164985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,183.0,72.0

In [99]:
X_summer = (summer_df.drop(["medals"], axis=1))
y_summer = np.array(summer_df["medals"])

In [103]:
Xw_train, Xw_test, yw_train, yw_test = train_test_split(X_summer, y_summer, test_size=0.2, random_state=42)

In [105]:
pipe.fit(Xw_train, yw_train)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()